<header class="header-bar">
    <div class="nav-buttons">
        <a href="#" class="nav-item">Ontdek</a>
        <a href="#" class="nav-item">Opgeslagen Artiesten</a>
        <a href="#" class="nav-item">Account</a>
    </div>
</header>