
<!-- Ik heb hier een navigatie gemaakt en daarbij de symboltjes in een svg gezet en die toegvoegd aan de navigatie-->
<div class="header-bar">
    <a href="/">  
        <img src="static/images/logogeel.png" alt="Logo" class="logo" id="logo">
    </a>
    <nav class="nav-buttons">
        <a href="/ontdek" class="nav-item">
            <img src="/static/images/rondje.svg" class="icon" alt="rondje"> Ontdek
        </a>
        <a href="/opgeslagenartiesten" class="nav-item">
            <img src="/static/images/driehoek.svg" class="icon" alt="driehoek"> Opgeslagen artiesten
        </a>
        <a href="/profiel" class="nav-item">
            <img src="/static/images/vierkant.svg" class="icon" alt="vierkant"> Account
        </a>
    </nav>
    
</div>

<!-- Dit is de java die de mouseover naar een rode afbeelding brengt!-->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const logo = document.getElementById("logo");

        logo.addEventListener("mouseover", function() {
            this.src = "static/images/logo-rood.png";
        });

        logo.addEventListener("mouseout", function() {
            this.src = "static/images/logogeel.png";
        });
    });
</script>