<header class="header-bar">
    <img src="static/images/Logo2Artiest.png" alt="Little Artist Logo" class="logo">
    <div class="nav-buttons">
        <a href="#" class="nav-item">Ontdek</a>
        <a href="#" class="nav-item">Opgeslagen Artiesten</a>
        <a href="#" class="nav-item">Account</a>
    </div>
</header>
