<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Input!</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">

    <!-- Externe CSS -->
    <link rel="stylesheet" href="/static/css/styles.css">

    
<link rel="stylesheet" href="static/css/styles.css">
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const logo = document.getElementById("logo");

        logo.addEventListener("mouseover", function() {
            this.src = "static/images/logorood.png";
        });

        logo.addEventListener("mouseout", function() {
            this.src = "static/images/logogeel.png";
        });
    });
</script>


