<header class="header-bar">
    <a href="/">  <!-- Dit zorgt ervoor dat het logo klikbaar is en naar index.ejs verwijst -->
        <img src="static/images/Logo2Artiest.png" alt="Logo" class="logo">
    </a>
    <nav class="nav-buttons">
        <a href="/about" class="nav-item">Over</a>
        <a href="/opgeslagenartiesten" class="nav-item">Opgeslagen Artiesten</a>
        <a href="/inlog" class="nav-item">Account</a>
    </nav>
</header>
