<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Input!</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">

    <!-- Externe CSS -->
    <link rel="stylesheet" href="/static/css/styles.css">

    



