/* Algemene stijlen voor de header zoals de kleur en padding */
.header-bar {
    background-color: #9CC88DDE;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo/ afbeelding styling met name de grote*/
.logo {
    height: 100px; 
    width: auto;
}

/* Geeft aan dat het klikbaar is en maakt het logo iets groter */ 
.logo:hover {
    transform: scale(1.05); 
    cursor: pointer; 
}


/* Knoppen container voor de navigatie items */
.nav-buttons {
    display: flex;
    gap: 20px;
}

/* Basis stijlen voor de navigatie items */
.nav-item {
    display: flex;
    align-items: center;
    gap: 5px; 
    background-color: #4D774F;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-family: 'Pixelify Sans', sans-serif;
}

/* Hier worden de icone/svg in bepaalde grote behouden */
.icon {
    width: 18px;
    height: 16px;
    margin-right: 5px;
}

/* Hover effect voor de nav-items */
.nav-item:hover {
    background-color: #b84242;
    color: rgb(31, 198, 31);
