<!DOCTYPE html>
<html lang="nl">
    <head>
        <%- include('../partials/head'); %>
      </head>

    <header>
      <%- include('../partials/header'); %>
      <div class="shape"></div>
    </header>
<body class="container">
    <main>
        <section class="errorPage">
            <h2>Sorry deze pagina bestaat niet ;(</h2>
            <img class="errorImg" src="static/images/error-sad.png" alt="Een jukebox die verdrietig is ">
        </section>
    </main>
</body>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</html>