<!DOCTYPE html>
<html lang="nl">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>
<main class="genreFilter">
<!-- Code -->
  <h1>Kies je favouriete genres!</h1>
  <form action="/genre-keuze" method="POST">
    <div>
      <label id="genre1Label" for="genre1"></label>
      <input id="genre1" type="checkbox" name="genre" value="genre1">
    </div>
    
    <div>
      <label id="genre2Label" for="genre2"></label>
      <input id="genre2" type="checkbox" name="genre" value="genre2">
    </div>

    <div>
      <label id="genre3Label" for="genre3"></label> 
      <input id="genre3" type="checkbox" name="genre" value="genre3">
    </div>
    
    
    <div>
      <label id="genre4Label" for="genre4"></label>
      <input id="genre4" type="checkbox" name="genre" value="genre4">
    </div>
  </form>

  <button id="genreLaden">Laad nieuwe genres</button>

  <button>Volgende vraag</button>
</main>
<footer>
  <%- include('../partials/footer'); %>
</footer>
<%- include('../partials/script'); %>
</body>