<!DOCTYPE html>
<html lang="nl">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>
<main class="genreFilter">
<!-- Code -->
  <h1>Kies je favouriete genres!</h1>
  <form action="/filter-populariteit" method="GET">
    <div class="genres">
      <div>
        <label id="genre1Label" for="genre1"></label>
        <input id="genre1" type="checkbox" name="genre" value="genre1">
      </div>
      
      <div>
        <label id="genre2Label" for="genre2"></label>
        <input id="genre2" type="checkbox" name="genre" value="genre2">
      </div>
  
      <div>
        <label id="genre3Label" for="genre3"></label> 
        <input id="genre3" type="checkbox" name="genre" value="genre3">
      </div>
      
      
      <div>
        <label id="genre4Label" for="genre4"></label>
        <input id="genre4" type="checkbox" name="genre" value="genre4">
      </div>
    </div>
    
    <div class="buttons">
      <button id="genreLaden">Laad nieuwe genres</button>

      <button type="submit">Volgende Vraag</button> 
    </div>
  </form>
</main>
<footer>
  <%- include('../partials/footer'); %>
</footer>
<%- include('../partials/script'); %>
</body>