<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="startpagina">

    <header>
      <%- include('../partials/header'); %>
      <div class="shape"></div>
    </header>

    <main>
      <!-- Home is "hidden", voor accesiblity. -->
      <h1>Home</h1>
      <section class="startpagina-firstsection">
        <h2>Zoek nu nieuwe artiesten met de Little Artist Machine.</h2>
        <p>Jouw guide voor je zoektocht</p>

        <a id="startZoeken" href="/filter-genre">Start met zoeken</a>

        <div class="link-row">
          <a href="/inlog">Inloggen</a>
          <a href="/aanmelden">Aanmelden</a>
        </div> 
      </section>

      <marquee behavior="scroll" direction="right" scrollamount="10">
        🚀 <span>ACCOUNT AANMAKEN IS GRATIS!</span> 🚀
      </marquee>
      
      <section class="background-opacity-80">
        <article class="uitgelichte-artiest">
          <form action="/opgeslagen-artiesten" method="POST">
            <div id="artiestFotoContainer">
              <img id="artiestfoto" src="" alt="foto van de artiest">
            </div>
            
            <h3 id="artiestinformatie"></h3>
            <p id="artiestgenres"></p>
            

            <button type="submit" id="likebuttonindex"><img class="likeHartje" src="/static/images/heart.svg" alt="hartje likebutton"></button>
            <!-- Dit is om deze gegevens van de artiest op te slaan in de mongodb na het liken -->
            <input name="artistId" id="favoInput" type="hidden">
          </form>
        </article>
        <article class="playlist">
          <a id="artiestlink" href="">Luister Op Spotify</a>
          <iframe id="kleineArtiestIframe" src="" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </article>
      </section>
    </main>


    <footer>
      <%- include('../partials/footer'); %>
    </footer>
    <%- include('../partials/script'); %>
    <script src="/static/javascript/indexpagina.js"></script>
  </body>
</html>
