<!DOCTYPE html>
<html lang="nl">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<!-- Even code om account aanmaak backend te testen, pas maar aan, maar laat de name of hetzelfde of pas deze ook aan in de server.js -->
<main>
  <div class="inloggen">
      <section>
        <h1>Inloggen</h1>
        <form action="/inlog-account" method="post">

          <label for="e-mailadress">E-mailadres</label>
          <input name="email" type="email" required>
    
          <label for="password">Password</label>
          <input name="password" type="password" required>
    
          <button type="submit" value="Send Request">Inloggen</button>
        </form>
      </section>
      <p>Nog geen account? <a href="/aanmelden">Meld je nu aan!</a></p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>