<!DOCTYPE html>
<html lang="nl">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<!-- Even code om account aanmaak backend te testen, pas maar aan, maar laat de name of hetzelfde of pas deze ook aan in de server.js -->
<main>



  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>


  <button id="zoekArtiest">zoek opnieuw</button>

  <div class="tuneder-wrapper">
    <!-- Linker knop -->
    <div class="heart-container">
        <img src="static/images/linkerhart.svg" alt="Linker helft" class="heart-left">
        <img src="static/images/rechterhard.svg" alt="Rechter helft" class="heart-right">
    </div>

    <!-- Centrale afbeelding -->
    <img src="static/images/radio2.png" alt="Radio afbeelding" class="tuneder-image">

    <!-- iframe voor artiest na het zoeken -->
    <iframe id="artiestIframe" style="border-radius:12px" src="" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

    <!-- dialog die in beeld komt als er geen artiest gevonden wordt -->
    <dialog id="errorDialog">
      <button autofocus>Sluit</button>
      <p>Geen artiesten passend bij je filters gevonden!</p>
    </dialog>

    <!-- loading animation -->
    <div id="loading" class="hide"></div>

    <!-- Rechter knop -->
    <button class="icon-btn">
        <img src="static/images/heart.svg" alt="Volgende">
    </button>
</div>

      
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<%- include('../partials/script'); %>
<script src="/static/javascript/tuneder.js"></script>
</body>