<!DOCTYPE html>
<html lang="nl">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </head>
  <body>

    <header>
      <%- include('../partials/header'); %>
    </header>

    <!-- Even code om account aanmaak backend te testen, pas maar aan, maar laat de name of hetzelfde of pas deze ook aan in de server.js -->
    <main>
      
      <section id="displayFilters">
        <div>
          <h2>Genre:</h2>
          <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides worden dynamisch toegevoegd in javascript -->
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
          </div>
        </div>
        

        <div class="keuze">
          <h2>Populariteit:</h2>
          <form>
            <p id="valueTuneder">10</p>
            <input type="range" name="populariteit" id="rangeSliderTuneder" min="11" max="100" value="20" step="1" />
          </form> 
        </div>
      </section>

      
      <div class="zoekWrapper">
        <button id="zoekArtiest" class="startZoeken">zoek opnieuw</button>
      </div>
      
      <section class="tuneder-wrapper">
          <!-- Linker knop -->
           <!-- Grid row 1 -->
          <div class="heart-container">
              <img src="static/images/linkerhart.svg" alt="Linker helft" class="heart-left">
              <img src="static/images/rechterhard.svg" alt="Rechter helft" class="heart-right">
          </div>

          <!-- Grid row 2 -->
          <!-- Centrale afbeelding -->
          <div id="gridRow2">
            <div class="image-container">
              <img src="static/images/radio2.png" alt="Radio afbeelding" class="tuneder-image">
              <!-- iframe voor artiest na het zoeken -->
              <iframe id="artiestIframe" style="border-radius:12px" src="" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
  
            
  
            <!-- dialog die in beeld komt als er geen artiest gevonden wordt -->
            <dialog id="errorDialog">
              <button autofocus>Sluit</button>
              <p>Geen artiesten passend bij je filters gevonden!</p>
            </dialog>

            <!-- loading animation -->
            <div id="loading" class="hide"></div>
          </div>
          
          
         
          <!-- grid row 3 -->
          <!-- Rechter knop -->

          <div id="gridRow3">
            <% if (user){ %>
              <form class="icon-btn" action="/opgeslagen-artiesten" method="POST">
                <button type="submit" id="likebutton" class="like-button">
                  <img class="likeHartje" src="/static/images/heart.svg" alt="hart vorm">
                </button>
              
                <input name="artistId" id="tunderInput" type="hidden">
              </form>
            <% } else { %>
              <div>
                <p>Je bent nog niet ingelogd</p>
                <a href="/inlog" class="nav-item"> Inloggen</a>
              </div>
            <% } %>
          </div>
          
      </section>   
    </main>
    <%- include('../partials/script'); %>
    <script src="/static/javascript/tuneder.js"></script>
  </body>

</html>